*{
    font-family: 'Arial';
    color: seashell;
    background-color: #13a4a4;
}

.links-header{
    list-style: none;
}

.links-header__item{
    display: inline-block;
    padding-left: 10px;
    text-align: center;
}

.links-header__item a{
    text-decoration: none;
}

.links-header__item:hover{
    text-decoration: underline;
    font-weight: bold;
}

.links-header__item::after{
    content: ' | ';
}